img, svg{
	max-width: 100%;
}

a {
	text-decoration: none;
}

.header{
  padding: 10px 0;
  background: radial-gradient(circle at 50% 50%, #ca2f33, #772b2a);

}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 10px;
}

.logo{
	display: block;
	float:left;
	width: 80px;
}


.group {
	overflow: hidden;
}

.delivery {
	float: right;
	display: block;
	height: 18px;
	margin-right: 32px;
	padding: 3px 0 3px 28px;
	background: url('img/delivery-icon.svg') no-repeat left center;
	background-size: 18px;
	font-size: 14px;
	letter-spacing: 1.5px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: 100;
}

.delivery-label{
	display: none;
}

.header-profile {
	display: block;
	float: right;
}

.header-profile-img{
	width: 24px;
	border-radius: 50%;
}


.menu{
	display: block;
	float: right;
}

.menu-img{
	width: 16px;
}

.title{
	font-family: Montserrat;
 	font-size: 20px;
 	font-weight: 100;
 	letter-spacing: -1px;
 	color: #3e3e3e;
	padding: 10px 0 10px 5px;
	margin: 0;
}

.filter-link{

	background: url('img/sort-desc-fontawesome-copy-2.svg') no-repeat right center;
	background-size: 18px;
	font-size: 14px;
	letter-spacing: 1.5px;
    color: #7d7d7d;
    text-transform: uppercase;
    padding-right: 20px;
}

.filter{
	font-size: 14px;
	letter-spacing: 1.5px;
    color: #7d7d7d;
	text-transform: uppercase;
	padding-top: 60px;
}



@media screen and (min-width: 460px){
	.logo{
		width: 132px;
	}
	.logo-img{
		width: 100%;
	}
	.header {
		padding: 16px 0;
	}
	.delivery{
		padding: 12px 0px 12px 28px;
	}
	.delivery-label{
		display: inline-block;
	}
	.header-profile-img{
	width: 40px;
	padding: 5px 0;
	}
	.menu{
		padding: 12px 0 12px 32px;
	}


}


@media screen and (min-width: 768px){
	.header {
		padding: 27px 0;
	}
	.container {
		padding: 0;
	}
	.title{
		float: left;
		font-size: 56px;
	}
	.filter{
		float: right;
	}
}